extends baseEmail

block content
  p Hi #{firstName},
  p Forgot your password? No problem! 
  p Use the following reset code to reset your password:
  h2(style='background: #f4f4f4; padding: 10px; text-align: center; font-family: monospace;') #{code}
  p This code is valid for only 10 minutes.
  p If you didn't forget your password, please ignore this email!
  p - Badilni Team
